/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

//шрифты
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-500.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl-500.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-700.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl-700.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-900.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-900.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl-900.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #1a1a1a;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 auto;
}
.where {
  padding: 22px 40px 80px 40px;
}
.where__title {
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
}
.where__title__text {
  margin: 0 12px 0 0;
}
.where__title__soc {
}
.where__text {
  margin: 0 0 40px 0;
  max-width: 690px;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}
.where__body {
  display: flex;
  flex-direction: column;
}
.where__body__text {
  margin: 0 0 16px 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 120%;
}
.where__body__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.where__body__btn {
  margin: 0 8px 0 0;
  img {
    margin: 0 5px 0 0;
  }
}
.btn_green {
  width: 224px;
  height: 48px;
  background: #36ba5f;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.where__body__icon {
  margin: 0 8px 0 0;
  background: #f9f9f9;
  border-radius: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    fill: #36BA5F;
  }
  &:hover {
    transition: all 0.3s ease 0s;
    background: #36BA5F;
    svg {
      fill: #f9f9f9;
    }
  }
}
